<h3>User</h3>
<p>Profile Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>About me: <%= @user.about_me if @user.about_me %></p>
<p>Description of me: <%= @user.description if @user.about_me %></p>
