// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_title {
	font-size: 3em;
	color: #eee;
}
.home_subtitle{
}

ul{
  list-style-type: none;
}
body.homepage { 
  background: #000 url("https://s3-us-west-2.amazonaws.com/droplr.storage/files/acc_194279/l9w6?AWSAccessKeyId=AKIAJSVQN3Z4K7MT5U2A&Expires=1386547948&Signature=UFNT5as9bPGN%2BKJZV7H0AC01p98%3D&response-content-disposition=inline%3B%20filename%3D202-HM-Crops-CherylJacobson.jpg%3B%20filename%2A%3DUTF-8%2527%2527202-HM-Crops-CherylJacobson.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1000px;
  }

  body.homepage main {
  background: rgba(white, 0.6);
  border-radius: 0 0 10px 10px;
  border: solid 1px white;
  }