// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_title {
	font-size: 3em;
	color: #eee;
}
.home_subtitle{
}

ul{
  list-style-type: none;
}
body.homepage { 
  background: #000 url("crops.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1000px;
  }

  body.homepage main {
  background: rgba(white, 0.6);
  border-radius: 0 0 10px 10px;
  border: solid 1px white;
  }